[flake8]
max-line-length = 88
max-complexity = 16

; select = C,E,W,B,B9

exclude = runtime/migrations,infrastructure/assets/,runtime/chalicelib/templates,runtime/chalicelib/static,runtime/chalicelib/modeler,infrastructure/cdk.out/
