[flake8]
max-line-length = 88
max-complexity = 16

select = C,E,W,B,B9
ignore =
    E203,E501,W503,E731,E262,E266,E302,E800,
    B902

exclude = runtime/migrations,infrastructure/assets/,runtime/chalicelib/templates,runtime/chalicelib/static,runtime/chalicelib/modeler,infrastructure/cdk.out/
