boto3<2.0.0
sqlalchemy
requests
aws_lambda_powertools
# pydantic==1.10
# pydantic-settings
pydantic[email]==1.10
psycopg[binary]
# cffi==1.15.0; platform_machine == "x86_64"
# aws-psycopg2; platform_machine == "x86_64"
PyJWT
celery
graphene>=3.1
PyGithub
binance-connector
gspread
ksuid