# -*- fundamental -*-
# from __future__ import (absolute_import, division,
#                        print_function, unicode_literals)
from builtins import *
from future.utils import python_2_unicode_compatible

{%- macro python_type(c) -%}
{%- if c.enum                     -%} {{python_class_name(c.enum)}}
{%- elif c.type == 'date'         -%} db.Date
{%- elif c.type == 'timestamptz'  -%} db.DateTime
{%- elif c.type == 'timestamptz'  -%} db.DateTime
{%- elif c.type == 'bool'         -%} CharBool
{%- elif c.pk and c.type=='int'   -%} BigInt
{%- elif c.type == 'int'          -%} db.Integer
{%- elif c.type == 'bigint'       -%} BigInt
{%- elif c.type == 'serial'       -%} db.Integer
{%- elif c.type == 'bigserial'    -%} BigInt
{%- elif c.type == 'smallint'     -%} db.SmallInteger
{%- elif c.type == 'blob'         -%} db.BLOB
{%- elif c.type == 'bytea'        -%} db.BLOB
{%- elif c.type == 'real'         -%} db.Float
# {%- elif java_type(c) == 'String' -%} db.{{c.type.upper()}}
{%- else -%}
{%do assert(False, ('models.py.jinja2', c))%}
{%- endif -%}
{%- endmacro -%}

from datamaster.model_events import *